<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <context-param>
        <param-name>encoding</param-name>
        <param-value>UTF-8</param-value>
    </context-param>
    <servlet>
        <servlet-name>demoServlet</servlet-name>
        <servlet-class>demo.demoServlet</servlet-class>
        <init-param>
            <param-name>book</param-name>
            <param-value>Thinking</param-value>
        </init-param>
        <load-on-startup>5</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>demoServlet</servlet-name>
        <url-pattern>/demo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>use302</servlet-name>
        <servlet-class>demo.use302</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>use302</servlet-name>
        <url-pattern>/use302</url-pattern>
    </servlet-mapping>
</web-app>